<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script>
        function ledon1(){
            fetch('http://localhost:5000/ledon1');
        }
        function ledoff1(){
            fetch('http://localhost:5000/ledoff1');
        }
        function ledon2(){
            fetch('http://localhost:5000/ledon2');
        }
        function ledoff2(){
            fetch('http://localhost:5000/ledoff2');
        }
        function ledon3(){
            fetch('http://localhost:5000/ledon3');
        }
        function ledoff3(){
            fetch('http://localhost:5000/ledoff3');
        }
    </script>
</head>
<body>
    <h1>hello and welcome to my LED control center</h1>
    <p>LED1</p>
    <button onclick="ledon1()">ON</button>
    <button onclick="ledoff1()">OFF</button>
    <p>LED2</p>
    <button onclick="ledon2()">ON</button>
    <button onclick="ledoff2()">OFF</button>
    <p>LED3</p>
    <button onclick="ledon3()">ON</button>
    <button onclick="ledoff3()">OFF</button>
</body>
</html>